body {
  min-height: 100vh;
  font-family: 'Oswald', sans-serif !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  min-height: 100%;
}


code {
    font-family: 'Oswald';
}
